{% extends 'base/main.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'base/styles/about.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our mathematics website! We are passionate about mathematics and aim to provide a valuable resource for students, educators, and enthusiasts.</p>
    
    <h2>Our Mission</h2>
    <p>Our mission is to make mathematics accessible and enjoyable for everyone. We strive to simplify complex concepts, offer helpful tutorials, and provide a platform for interactive learning.</p>
    
    <h2>Our Team</h2>
    <p>We are a team of mathematicians, educators, and developers who share a common goal of promoting mathematical knowledge. Our diverse backgrounds and expertise enable us to deliver high-quality content and resources.</p>
    
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or feedback, we'd love to hear from you. You can reach us at <a href="mailto:contact@mathwebsite.com">contact@mathwebsite.com</a>.</p>
  </div>
{% endblock %}