{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section class="carousel">
    <div class="carousel-container">
      <div class="carousel-slide">
        <img src="{% static 'base/images/t1.png' %}" alt="sl 1">
      </div>
      <div class="carousel-slide">
        <img src="{% static 'base/images/t2.png' %}" alt="sl 2">
      </div>
      <div class="carousel-slide">
        <img src="{% static 'base/images/t3.png' %}" alt="sl 3">
      </div>
    </div>
    <a class="carousel-prev" href="#">
      <span>&#8249;</span>
    </a>
    <a class="carousel-next" href="#">
      <span>&#8250;</span>
    </a>
    <div class="carousel-pagination"></div>
</section>
<section class="flex justify-center my-4">
<div class="text-center m-4 rounded-sm projects__row-img h-40 font-medium " >
  <div><img src="{% static 'base/images/t1.png' %}" alt=""></div>
</div>
<div class="text-center m-4 rounded-sm projects__row-img h-40 font-medium " >
  <div><img src="{% static 'base/images/t1.png' %}" alt=""></div>
</div>
<div class="text-center m-4 rounded-sm projects__row-img h-40 font-medium " >
  <div><img src="{% static 'base/images/t1.png' %}" alt=""></div>
</div>
<div class="text-center m-4 rounded-sm projects__row-img h-40 font-medium " >
  <div><img src="{% static 'base/images/t1.png' %}" alt=""></div>
</div>
</section>
{% endblock content %}