{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<h2>9th Class</h2>
<section class="my-card-container">
    <div class="my-card">
      <a href="{% static 'base/pdf/Basic Electronics note.pdf' %}">
      <img src="{% static 'base/images/q9.png' %}" alt="my-Card Image">
      </a>
      <div class="my-card-content">
        <h2 class="fs-2">my-Card Title</h2>
        <p>my-Card description goes here.</p>
      </div>
    </div>
    <div class="my-card">
      <a href="{% static 'base/pdf/Basic Electronics note.pdf' %}">
      <img src="{% static 'base/images/q10.png' %}" alt="my-Card Image">
      </a>
      <div class="my-card-content">
        <h2 class="fs-2">my-Card Title</h2>
        <p>my-Card description goes here.</p>
      </div>
    </div>
    <div class="my-card">
      <a href="{% static 'base/pdf/Basic Electronics note.pdf' %}">
      <img src="{% static 'base/images/q11.png' %}" alt="my-Card Image">
      </a>
      <div class="my-card-content">
        <h2 class="fs-2">my-Card Title</h2>
        <p>my-Card description goes here.</p>
      </div>
    </div>
</section>
{% endblock content %}